@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Neue Montreal";
    font-weight: 400;
    src: url("/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Neue Montreal";
    font-weight: 700;
    src: url("/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  }
  html {
    font-family: "Neue Montreal", system-ui, sans-serif;
  }
}

:root {
  @apply bg-[#F4F1F0];
}
